thead {
    background: #FFFFFF;
}
.title{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding-top: 30px;
}
.box-info{
    float:left;
    width:555px;
    margin-right:15px;
}